@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

* {
    font-family: 'Playfair Display', serif;
}

.bg_video{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -50;
    background-size: cover;
    object-fit: fill;
}
.principal {
    background-color: rgba(28, 84, 141, 0.544);
    z-index: -30;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 20%;
    padding: 30px 0 100px 0;
}
.logo {
    position:relative;
    max-height: 55%;
    height: auto;
    float:left;
    align-self: left;
}
.contador {
    position:relative;
    text-align: center;
    text-justify: center;
    width: 100%;
    font-size: 35vh;
    color: white;
    font-weight: bold;
}
.hidden{
    display: none;
}
